body {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 { 
    font-family: 'Carter One';
    font-size: 2vw;
    color: white;
    text-shadow: 4px 4px 4px black;
    text-align: center;
}

p {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Vollkorn';
    font-size: 2vw;
    color: white;
    text-shadow: 2px 2px 4px black;
    visibility: hidden;
}

button {
    outline: none;
}

.img {
    width: 25%;
}

#portrait {
    width: 100%;
    height: auto;
    border-radius: 4vw;
    margin-left: 2vw;
    float: left;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}

#previous {
    width: 5vw;
    height: auto;
}

.previous {
    background-color: transparent;
    border: none;
    transform: scaleX(-1);
}

#next {
    width: 5vw;
    height: auto;
}

.next {
    background-color: transparent;
    border: none;
}

.home {
    background-color: transparent;
    border: none;
    color: white;
    text-shadow: 4px 4px 4px black;
    font-size: 5vw;
}

.navigation {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#navRange {
    width: 17vw;
    height: auto;
    opacity: 0.5;
    margin-left: 50%;
    transform: translateX(-50%);
}

.slider {
    -webkit-appearance: none;
    background: black;
    opacity: 0.2;
    border-radius: 24px;
 }
 .slider:hover {
    opacity: 1;
 }
 .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    appearance: none;
    width: 45px;
    height: 45px;
    background: rgb(200, 255, 0);
    border: 6px solid rgb(0, 105, 44);
    cursor: pointer;
 }

#copyright {
    position: fixed;
    bottom: 0;
    margin-left: 3vw;
    margin-bottom: 1vh;
    font-size: 1vw;
}

.text {
    position: relative;
    margin-left: 30vw;
    margin-right: 2vw;
}