body {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 { 
    font-family: 'Carter One';
    font-size: 36px;
    color: white;
    text-shadow: 4px 4px 4px black;
    text-align: center;
}

p {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Vollkorn';
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px 4px black;
    visibility: hidden;
}

a {
    padding-left: 25pt;
    padding-right: 25pt;
}

#portrait {
    border-radius: 40pt;
    margin-left: 20pt;
    float: left;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}

.previous {
    background-color: transparent;
    border: none;
    transform: scaleX(-1);
}

.next {
    background-color: transparent;
    border: none;
}

.navigation {
    position: absolute;
    bottom: 0;
    padding: 10pt;
    left: 50%;
    transform: translateX(-50%);
}

#copyright {
    position: absolute;
    bottom: 0;
    margin-left: 30pt;
    margin-bottom: 5pt;
}

.home {
    background-color: transparent;
    border: none;
    color: white;
    text-shadow: 4px 4px 4px black;
    font-size: 64pt;
}

.text {
    position: relative;
    margin-left: 550px;
    margin-right: 30px;
}